<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="custom-font-enabled">
        <div id="page" class="hfeed site">

          <% include ../partials/header.ejs %>

          <% if (typeof(firstName) !== 'undefined') { %>
          <div id="greeting" style="float:right">
            <strong>Hi, <%= firstName %>!</strong>
            <a href="/users/logout">Log out</a>
          </div>
          <% } %>
	        <div id="main" class="wrapper">
	            <div id="primary" class="site-content">
		            <div id="content" role="main">
                  <div class="entry-content">
      							<div class="panel-grid" id="pg-218-0">
      								<div class="panel-grid-cell" id="pgc-218-0-0">
      									<div class="panel widget panel-first-child panel-last-child" id="panel-218-0-0-0">
      										<div class="textwidget">
      											<p><img class="size-full wp-image-223 alignleft" src="/img/restaurant-to-room_web.png" alt="restaurant to room_web" width="300" height="282" /></p>
      										</div>
      									</div>
      								</div>
      								<div class="panel-grid-cell" id="pgc-218-0-1">
      									<div id="page-content" class="panel widget panel-first-child panel-last-child">
      										<!-- BEGIN page-specific content -->

      										<% include content/createForm.ejs %>

      										<!-- END page-specific content -->
      									</div>
      								</div>
      							</div>
      						</div>
                </div>
	            </div>
            </div>

            <% include ../partials/footer.ejs %>

        </div>

        <% include ../partials/scripts.ejs %>

    </body>
</html>
